<strong>Olá, {{ deliveryman }}</strong>
<p>A entrega do seu pacote foi cancelada devido a um problema.</p>
<p>Seguem abaixo mais detalhes sobre a encomenda:</p>
<p>
  <strong>Identificador do pacote: </strong> {{ parcelId }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Local de entrega: </strong> {{ state }} - {{ city }} <br />
  <strong>Motivo do cancelamento: </strong> {{ problem }}
</p>