<strong>Olá, {{ deliveryman }}</strong>
<p>Recebemos um novo pacote para entrega, e precisamos da sua ajuda!</p>
<p>Seguem abaixo mais detalhes sobre a encomenda:</p>
<p>
  <strong>Identificador do pacote: </strong> {{ parcelId }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Local de entrega: </strong> {{ state }} - {{ city }} <br />
  <br />
  <strong>
    Por gentileza, faça a retirada do pacote o quanto antes para que a entrega seja efetuada dentro do prazo!
  </strong>
</p>